<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="miniClockT2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <miniClockT2.Settings>
            <setting name="Horizontal" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Vertical" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>微软雅黑, 9pt</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="CacheColor1" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheColor2" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheColor3" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheColor4" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheColor5" serializeAs="String">
                <value />
            </setting>
        </miniClockT2.Settings>
    </userSettings>
</configuration>